{% extends 'base.html' %}

{% block title %}浙江移动Nokia EPC日报{% endblock title %}


{% block container %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">MME {{ task.hostname }} 状态检查报告
                    <small>{{ task.datetime }}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-2">
                <h4> MME List </h4>
                <div class="list-group">
                    {% for host in hostlist %}
                        <a href="mme_report_{{ host }}.html" class="list-group-item">{{ host }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-10">
                <h3>系统状态</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {#                    {% for result in task.results %}#}
                    <div class="panel {{ task.results.0.panel_status }}">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title pull-left">
                                {{ task.results.0.name }}，当前有{{ task.results.0.stats.Other }}个状态异常单元，点击查看详情
                                <i class="fa {{ task.results.0.status_icon }}"
                                   style="font-size:22px;color:{{ task.results.0.status_color }};"></i>
                            </h4>
                            <a class="collapsed pull-right" data-toggle="collapse" data-parent="#accordion"
                               href="#checkitem1">
                                <i class="fa fa-angle-double-down" style="font-size:20px;"></i>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div id="checkitem1" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading">
                            <div class="panel-body">
                                <!-- <p>{{task.results.0.description}},详情如下</p>-->
                                <table class="table table-bordered">
                                    <thead>
                                    {% for i in u_con_list %}
                                        <tr>
                                            {% for u in task.results.0.data %}
                                                {% if loop.index  < (i * 10+11) and loop.index > (i * 10) %}
                                                    {% if u in task.results.0.info %}
                                                        <th><span class="item-status cancel">{{ u.unit }}</span></th>
                                                    {% else %}
                                                        <th><span class="item-status delivered">{{ u.unit }}</span></th>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        </thead><!--/thead-->
                                        <tbody>
                                        <tr>{% for u in task.results.0.data %}
                                            {% if loop.index < (i * 10+11) and loop.index > (i * 10) %}
                                                {% if u in task.results.0.info %}
                                                    <td><span class="item-status cancel">{{ u.status }}</span></td>
                                                {% else %}
                                                    <td>
                                                        <span class="item-status delivered">{{ u.status }}</span>
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        </tbody><!--/tbody-->
                                    {% endfor %}
                                </table><!--/.table-->

                            </div>
                        </div>
                    </div>
                    {#                        {% endfor %}#}
                </div> <!-- pannel-group -->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {#                    {% for result in task.results %}#}
                    <div class="panel {{ task.results.1.panel_status }}">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title pull-left">
                                {{ task.results.1.name }}，当前有{{ task.results.1.stats|length }}个状态异常单元，点击查看详情
                                <i class="fa {{ task.results.1.status_icon }}"
                                   style="font-size:22px;color:{{ task.results.1.status_color }};"></i>
                            </h4>
                            <a class="collapsed pull-right" data-toggle="collapse" data-parent="#accordion"
                               href="#checkitem2">
                                <i class="fa fa-angle-double-down" style="font-size:20px;"></i>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div id="checkitem2" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading">
                            <div class="panel-body">
                                <!-- <p>{{task.results.1.description}},详情如下</p>-->
                                <table class="table table-bordered">
                                    <thead>
                                    {% for i in u_con_list %}
                                        <tr>
                                            {% for u in task.results.1.data %}
                                                {% if loop.index < (i * 10+11) and loop.index > (i * 10) %}
                                                    {% if u in task.results.1.stats %}
                                                        <th><span class="item-status cancel">{{ u.unit }}</span></th>
                                                    {% else %}
                                                        <th><span class="item-status delivered">{{ u.unit }}</span></th>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>

                                        </thead><!--/thead-->
                                        <tbody>
                                        <tr>{% for u in task.results.1.data %}
                                            {% if loop.index < (i * 10+11) and loop.index > (i * 10) %}
                                                {% if u in task.results.1.stats %}
                                                    <td><span class="item-status cancel">{{ u.cpuload }}</span></td>
                                                {% else %}
                                                    <td><span class="item-status delivered">{{ u.cpuload }}</span></td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        </tbody><!--/tbody-->
                                    {% endfor %}
                                </table><!--/.table-->

                            </div>
                        </div>
                    </div>
                    {#                        {% endfor %}#}
                </div>
                {#                <h3>2. 接口状态 </h3>#}

            </div><!-- page column -->


        </div> <!-- sidebar row -->
    </div> <!-- Page Content -->
{% endblock %}